body {
    background-image: url("bg.png");
    color: white;
    margin: auto;
    padding-top: 8%;
}

#card {
    height: 400px;
    width: 600px;
    background-image: url("wrapperbg.png");
    margin: auto;
    color: white;
    font-size: 25px;
}

.bush {
    position: relative;
    top: -65px;
    left: -65px;
    z-index: +1;
}

.penguin {
    position: relative;
    bottom: 205px;
    right: -475px;
    z-index: +1;
}

.greetings{
    position: relative;
    top: -110px;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: bold;
    font-size: 35px;
}

.actualText {
    position: relative;
    top:-110px;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: lighter;
    font-size:20px;
}