body {
    background-image: url("bg.png");
    padding-top: 8%;
}

#card {
    position: relative;
    margin: auto;
    width: 600px;
    height: 400px;
    background-image: url("wrapperbg.png");
    color: white;
}

.formHead {
    padding-top: 50px;
    padding-left: 50px;
    font-size: 30px;
    font-weight: bold;
}

#formBody {
    padding-left: 50px;
}